/* color scheme */
body {
	background-color:White;
	-background-image:url('../images/bg.jpg');
	-background-position:center center;
	-background-attachment:fixed;
}

h1 {
	margin-top:0px;
	text-align:left;
	color:Black;
	font-weight:normal;
	font-family:Georgia, serif;
}

.spaced {
	margin-top:15px;
	margin-bottom:15px;
}

.basic-bg {
	background-image: -webkit-linear-gradient(top,#337ab7 0,#2e6da4 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2e6da4 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2e6da4));
    background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
	color:White;
}

.basic-bg .dropdown {
	background-color:White;
	background-image:none;
}

.basic-bg .btn-default {
	text-shadow:none;
}

.basic-bg label {
	font-weight:normal;
	margin-left:10px;
	margin-right:10px;
}

.basic-bg .panel {
	color:Black;
}

.page-header {
	margin-top:0;
}

.page-header h1 {
	text-align:left;
}

.prod-sort {
	padding:10px;
	border-radius:7px;
}

.main-title {
	color:White;
	text-align:center;
}

.main-title {
	display:inline-block;
	font-size:24px;
	color:White;
	font-family:Georgia, serif;
}

.head-block {
	background-color:White;		
	display:inline-block;
	vertical-align:top;
	margin-top:0px;	
}

.language {
	background-color:White;
	background-image:none;
	padding:5px 10px;
}

.sidebar {
	/*border-right:solid 1px LightGray;*/
}

/* PRODUCTS */

.product .panel-title {
	height:45px;
	overflow:hidden;	
}

.product .panel {
	border-color:LightGray;
}

.products {	
	margin-right: -7px;
    margin-left: -7px;
}

.products .product .panel {
    margin-bottom: 14px;
}

.products .product {	
	padding-right: 7px;
    padding-left: 7px;
}

.product-image {	
	text-align:center;
	height:150px;
}

.product-image img {	
	
}

.product button .glyphicon {	
	padding-right:10px;
}

.item-count, form .form-control.item-count {
	width:50px;
}

.cart .table > tbody > tr > td {
    vertical-align: middle;
}

.cart .table > tbody > tr:first-child > td {
   --border-top:0;
}

.cart .table > tbody > tr > td:first-child {
	padding-left:15px;
}

.cart .table {
    margin:0;
}

.cart .remove-item {
	font-size:150%;
	-color:firebrick;
	font-weight:bold;
	margin-top:4px;
	display:inline-block;
}

.customer-small .link {
	line-height:1;
	margin-top:5px;
	text-align:center;
	color:White;
}

.cart-small {
	margin-top:10px;
	font-size:15px;	
}

.cart-small .price {
	line-height:1;
	margin-top:5px;
	text-align:right;
	color:White;
}

.price {
	font-size:200%;
	text-align:center;
}

.basic-bg {
	-webkit-box-shadow: 3px 3px 4px 0px rgba(186,186,186,1);
	-moz-box-shadow: 3px 3px 4px 0px rgba(186,186,186,1);
	box-shadow: 3px 3px 4px 0px rgba(186,186,186,1);
}

.panel-default, .panel {
	-webkit-box-shadow: 3px 3px 4px 0px rgba(219,219,219,1);
	-moz-box-shadow: 3px 3px 4px 0px rgba(219,219,219,1);
	box-shadow: 3px 3px 4px 0px rgba(219,219,219,1);
}

.panel-success > .panel-heading {
	background-image: linear-gradient(to bottom, #5CB85C 0px, #419641 100%);
	color:White;
}

.panel-success {
	border-color:#419641;
}