@font-face {
	font-family: parfumerie;
	src: local('☺'), url('akaFrivolity.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body {
	background-color:White;
}

h1 {
	margin-top:0px;
	text-align:left;
	color:Black;
	font-weight:normal;
	font-family:Georgia, serif;
}

.spaced {
	margin-top:10px;
	margin-bottom:10px;
}

.spaced-top {
	margin-top:10px;
}

.spaced-botom {
	margin-bottom:10px;
}

.cookies-disabled {
	margin:0;
}

.basic-bg,
.zblock {
	background-image: -webkit-linear-gradient(top,#337ab7 0,#2e6da4 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2e6da4 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2e6da4));
    background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
	color:White;
	-webkit-box-shadow: 3px 3px 4px 0px rgba(186,186,186,1);
	-moz-box-shadow: 3px 3px 4px 0px rgba(186,186,186,1);
	box-shadow: 3px 3px 4px 0px rgba(186,186,186,1);
}

.zblock {
	border-radius:5px;
	padding:10px;
}

.basic-bg .dropdown {
	background-color:White;
	background-image:none;
}

.basic-bg .btn-default {
	text-shadow:none;
}

.basic-bg label {
	font-weight:normal;
	margin-left:10px;
	margin-right:10px;
}

.basic-bg .panel {
	color:Black;
}

.page-header {
	margin-top:0;
}

.page-header h1 {
	text-align:left;
}

.prod-sort {
	padding:10px;
	border-radius:7px;
}

.main-title {
	font-size:1cm;
	color:White;
	text-align:left;
	font-family:parfumerie;
}

h1.page-title {
	margin-top:5px;
	margin-bottom:20px;
}

.head-block {
	background-color:White;		
	display:inline-block;
	vertical-align:top;
	margin-top:0px;	
}

.language {
	background-color:White;
	background-image:none;
	padding:5px 10px;
}

#side-menu .list-group-item {
	background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2b669a));
	background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
	background-repeat: repeat-x;
	border-color: #2b669a;
}

#side-menu {
	font-size:100%;
	margin-top:10px;
	color:White;
}

#side-menu a {
	color:White;
}

#side-menu a:hover {
	text-decoration:underline;
}

#side-menu li.selected {
	font-weight:bold;
}

#side-menu li.selected ul {
	font-weight:normal;
}

#side-menu ul.level-1,
#side-menu ul.level-1 .list-group-item {
	border-radius:0px;	
}

#side-menu .level-1,
#side-menu .badge {
	background-color:White;
	color: #337ab7;
}

#side-menu .level-1 a {
	color: #337ab7;
}

#side-menu .level-1 .list-group-item {
	background-image: none;
	border-color: LightGray;
	padding:5px 7px 5px 35px;
}

#side-menu .level-1 .badge {
	background-color:#F0F0F0;
}

#side-menu .level-2 .list-group-item {	
	padding:3px 3px 3px 55px;
}

#side-menu .level-0 .list-group {
    margin-bottom: 0px;
}

#side-menu .zmenu-toggle {
	font-size:80%;
	line-height:120%;
	padding-left:0px;
	padding-right:5px;
	cursor:pointer;
}

/* PRODUCTS */

.product .panel-title {
	height:45px;
	overflow:hidden;	
}

.product .panel {
	border-color:LightGray;
}

.products {	
	margin-right: -7px;
    margin-left: -7px;
}

.products .product .panel {
    margin-bottom: 14px;
}

.products .product {	
	padding-right: 7px;
    padding-left: 7px;
}

.products .product .badge {	
	background-color:#337ab7;
	float:right;
	margin-top:-15px;
	margin-right:-15px;
}

.product-image {	
	text-align:center;
	height:160px;
}

.product-image img {	
	max-width:100%;
}

.product .prod-item-count {
	display:inline-block;	
	width:50px;	
}

.product button .glyphicon {	
	padding-right:10px;
}

.cart .table > tbody > tr > td {
    vertical-align: middle;
}

.cart .table > tbody > tr:first-child > td {
   --border-top:0;
}

.cart .table > tbody > tr > td:first-child {
	padding-left:15px;
}

.cart .table {
    margin:0;
}

.cart .item .glyphicon {
	font-size:150%;
	color:#A5A5A5;
}

.cart .item .minus-item .glyphicon:hover {	
	color:Red;
}

.cart .item .plus-item .glyphicon:hover {	
	color:Green;
}

.cart .item .item-count {
	min-width:110px;
}

.cart .item .item-count .glyphicon {
	position:relative;
	top:4px;	
}

.cart .item.removed {
	background-color:#A9A9A9;
}

.cart .item.removed a {
	color:Black;	
}

.cart .item.removed img {
	opacity:0.5;
}

.cart .item.removed .item-count .glyphicon {
	color:White;	
}

.cart .item.removed .remove-item .glyphicon {
	color:#60FF40;	
}

.cart .item .item-count input {
	display:inline-block;
	position:relative;
	top:-2px;
	width:50px;
	margin-left:3px;
	margin-right:3px;
}

.customer-small .link {
	line-height:1;
	margin-top:5px;
	text-align:center;
	--color:White;
}

.cart-small {
	margin-top:10px;
	font-size:15px;	
}

.cart-small .price {
	line-height:1;
	margin-top:5px;
	text-align:right;
	color:White;
}

.cart-small .price span {
	vertical-align:middle;
}

.price {
	font-size:200%;
	text-align:center;
}

.panel-default, .panel {
	-webkit-box-shadow: 3px 3px 4px 0px rgba(219,219,219,1);
	-moz-box-shadow: 3px 3px 4px 0px rgba(219,219,219,1);
	box-shadow: 3px 3px 4px 0px rgba(219,219,219,1);
}

.panel-success > .panel-heading {
	background-image: linear-gradient(to bottom, #5CB85C 0px, #419641 100%);
	color:White;
}

.panel-success {
	border-color:#419641;
}

.search-box #search-input {
	width:290px;
}

mark {
    background: orange;
    color: black;
}

.dropdown-menu .glyphicon-log-out {
	padding-right:10px;
}