body.admin {
	padding-top:51px;
}

a, a:hover, a:active, a:focus,
.btn, .btn:hover, .btn:active, .btn:focus {
	outline:0;
	text-decoration:none;
}

.header {
	border-radius:5px;
	padding:15px;
	margin:15px 0;
}

h1 {
	text-align:center;
}

.alert {
	padding:6px 12px;
}

ol, ul {
    margin: 0;
}

.vcenter fb {
	vertical-align:middle;
	display:inline-block;
}

/* tables */

.table-hover > tbody > tr {
	cursor:pointer;
}

.top-button {
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
}

.language img {
	margin:0 10px 0 0;
}

.dropdown.btn {
	padding:0;
}

.dropdown.btn > .dropdown-toggle {
	padding:6px 12px;
	display:inline-block;
}

.dropdown .caret {
	margin-left:10px;
}

/* forms */

.form-validation {
	display:none;
	color:red;
	margin-top:7px;
}

.form-button {
	margin-left:10px;
	margin-right:10px;
}

.form-buttons {
	display:block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
}

.admin-form {
	margin-top:25px;
}

.ajax-loader {
	opacity:0;
	display:inline-block;
	margin:auto;	
	background-image:url('../images/ajax-loader.gif');
	width:31px;
	height:31px;
}

.ajax-loader-blue {
	background-image:url('../images/ajax-loader-blue.gif');
	width:32px;
	height:32px;
}

#console {
	height:250px;
	width:100%;
	border:solid 1px Black;
	overflow:auto;
	margin-top:10px;
	padding:0 5px;
}

img.mini-thumb {
	max-width:75px;
	max-height:50px;
}