ErrorDocument 404 /error.html
ErrorDocument 500 /error.html

<IfModule mod_rewrite.c>
    RewriteEngine On
	
	# Handle downloads...
    RewriteCond %{REQUEST_URI} ^/resources/ [NC]
	RewriteCond %{REQUEST_URI} !^/resources/$ [NC]
    RewriteRule ^resources/(.*) /resources.php?path=resources/$1 [L]
	
	# Handle jobs...
    RewriteCond %{REQUEST_URI} ^/jobs/ [NC]
	RewriteCond %{REQUEST_URI} !^/jobs/$ [NC]
    RewriteRule ^jobs/(.*) /jobs.php?path=jobs/$1 [L,QSA]
	
    # Handle Front Page...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*) /index.php?path=$1 [L,QSA]
</IfModule>