/* color scheme */
.basic-bg {
	background-image: -webkit-linear-gradient(top,#337ab7 0,#2e6da4 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2e6da4 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2e6da4));
    background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
}

nav.header {
	/*background-image:none;
	
	
	background-image:url('../images/header.jpg');
	
	background-image: -webkit-linear-gradient(top,#0852A0 0,#88c7e6 100%);
    background-image: -o-linear-gradient(top,#0852A0 0,#88c7e6 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#0852A0),to(#88c7e6));
    background-image: linear-gradient(to bottom,#0852A0 0,#88c7e6 100%);
	*/
}

.logo {
	margin-top:20px;
}

.main-title {
	color:White;
	text-align:center;
}

.main-title h1 {
	display:inline-block;
	border-radius: 10px;
	padding:10px;
}

.head-block {
	background-color:White;		
	display:inline-block;
	vertical-align:top;
	margin-top:0px;	
}

.language {	
	padding:6px 8px;
	border-radius: 18px;
}

.language img {
	margin:0;
}

.language a {
	border:solid 1px White;
	border-radius: 16px;
	padding:4px 7px;
	display:inline-block;
}

.language a.highlighted {
	border:inset 1.5px darkturquoise;
	background-color: LightBlue;
}

/* PRODUCTS */

.product .panel-body {
	-height:220px;
}

.product .product-menu {
	margin-top:10px;
	margin-bottom:0;
}

.product .panel-title {
	height:45px;
	overflow:hidden;
}

.price {
	font-size:200%;
}