ErrorDocument 404 /error.html
ErrorDocument 500 /error.html

<IfModule mod_rewrite.c>
    RewriteEngine On
	
	# Handle Downloads...
    RewriteCond %{REQUEST_URI} ^/download/ [NC]
	RewriteCond %{REQUEST_URI} !^/download/$ [NC]
    RewriteRule ^download/(.*) /download.php?file=$1 [L]
	
    # Handle Front Page...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*) /index.php?path=$1 [L]
</IfModule>