h1 {
	text-align:center;
}

.top-button {
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
}

.table-hover > tbody > tr {
	cursor:pointer;
}

.form-validation {
	display:none;
	color:red;
	margin-top:7px;
}

.form-button {
	margin-left:10px;
	margin-right:10px;
}

.form-buttons {
	display:block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
}

.admin-form {
	margin-top:25px;
}